Add PKCS#12 files with SecretBag Type object

PKCS#12 files can include arbitrary secrets (like symmetric keys). Add an example PKCS#12 file like that.

See also [RFC 7292 Section 4.2.5](https://tools.ietf.org/html/rfc7292#section-4.2.5).